body
{
font-family:"verdana";
font-size:1.2em;
color:'#333";
line-height:1.5em;
margin:0;
padding:0;
background: #aaaaaa url("../img/bg-maison.png") repeat-x scroll -20% 0
}

a
{
text-decoration: none;

text-align: center;
}


.clear
{
clear:both;
}

.wrapper
{
width: 100%;
display: block;
position: static;
}

.MaDivBlock
{
width:980px;
margin:0 auto;
box-shadow: 1px 1px 1px #000
}

.Enblock
{
width: 100%;
display: block;
position: static;
}

#header
{
width:980px;
margin:0 auto;
display:block;
}

#header img.logo
{
float: left;
}

#header .titre 
{
float: left;
}

#header h1
{
color: #123;
margin: 0;
padding: 0;
}

#header h2
{
color: #123;
margin: 0;
padding: 0;
}


div#menu
{
width:980px;
margin:0 auto;

}

#menu ul
{
width: 100%;
padding: 0;
list-style-type: none;
}

#menu li
{

list-style-type: none;
width:25%;
display:inline;
float:left;
background-color: #333;
text-align: center;
}

#menu li:hover
{
background-color: green;
}

#menu li a
{
color:white;
}

div#footer
{
width:980px;
margin:0 auto;
display: block;
position:absolute;
bottom: 0;
}

#footer ul
{

width: 100%;
padding: 0;
list-style-type: none;
}

#footer li
{

list-style-type: none;
width:25%;
display:inline;
float:left;
background-color: #333;
text-align: center;
}

#footer li:hover
{
background-color: green;
}
